.header-bg {
  background-color: var(--cor-12);
}

.header {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-menu {
  display:flex;
  flex-wrap: wrap;
  gap: 40px;
}

.header-menu a {
  display: inline-block;
  padding: 16px 0px;
  position: relative;
}

.header-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background: var(--cor-0);
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover:after {
  width: 100%;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 20px;
  }
  .header-menu a {
    background: var(--cor-11);
    padding: 12px 16px;
    border-radius: 4px;
  }
  .header-menu a:hover {
    background: var(--cor-10);
  }
  .header a:after {
    display: none;
  }
}

@media (max-width: 600px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}

audio {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333; /* Cor de fundo mais escura */
  color: #fff; /* Cor do texto */
  padding: 10px; /* Espaçamento interno para melhor legibilidade */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3); /* Sombra suave */
}

audio::-webkit-media-controls {
  background-color: #333; /* Estilo dos controles do player no Chrome */
  color: #fff;
}

/* Personalize os controles do player no Firefox */
audio::-moz-media-controls {
  background-color: #333;
  color: #fff;
}

/* Personalize os controles do player no Safari */
audio::-webkit-media-controls-panel {
  background-color: #E4A30B;
  color: #fff;
}
